body {
  background-image: url(../img/pigBR.jpg);
  background-size: 100% 100%;
}

.jumbotron {
margin-top: 50px;
background-image: url(../img/banner.jpg);
background-size: 100% 100%;
color: white;
font-family: sans-serif;
padding-bottom: 0px;
}

.jumbotron h1 {
  font-size: 33px;
  font-weight: 400;


}

.playerConsole {
  display: none;
}

.aiPig {
  display: none;
  background-image: url(../img/aiPig.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 200px 200px;
  background-color: #fffec6;
  height: 185px;
}

#new-game {
  display: block;
  margin: 0 auto;
}

.center-block p {
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: red;
}
